asgiref
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
pillow
psutil
psycopg2-binary
PyJWT
python-decouple
pytz
python-http-client>=3.2.1
sendgrid>=6.0.0
gunicorn
whitenoise
cloudinary
django-cloudinary-storage