asgiref
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
pillow
psutil
psycopg2-binary
PyJWT
python-decouple
pytz
sendgrid
sendgrid-django
sqlparse
tzdata
gunicorn
whitenoise